.listElement {
    background-color: #22242a;
    padding: 32px;
    min-height: 66px;
    border-radius: 8px;
}
.shipName {
    display: block;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}
.shipData {
    margin-top: 16px;
}
.shipData div {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.shipData div span {
    margin-right: 24px;
    color: #818798;
}
@media (max-width: 1023px) {
    .shipData {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 16px;
    }
}
@media (min-width: 1023px) {
    .shipData {
        max-width: 450px;
        margin-top: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}