.mainWrapper {
    color: #f2f2f2;
    height: 100vh;
}
.rightMenuWrapper {
    background: #22242a;
}
.shipsList {
    background: #151619;
}
.listName {
    min-height: 52px;
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
}
.filter {
    width: 112px;
    padding-bottom: 24px;
    grid-template-columns: 1fr 1fr;
}
.filter span {
    display: inline-block;
    vertical-align: middle;
}
.listElements {
    display: grid;
    grid-row: auto;
    grid-row-gap: 16px;
}
.pagination {
    display: grid;
    grid-template-columns: 24px 12px 24px;
    grid-column-gap: 14px;
    height: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    margin-top: 43px;
    position: relative;
}
.pagination span {
    display: block;
}
.pagination img {
    background: #151619;
}

.shipsListHidden {
    display: none;
}
.menuWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #22242a;
}

@media (max-width: 769px) {
    .listName {
        padding-top: 32px;
        padding-bottom: 21px;
    }
    .filter {
        display: grid;
    }
    .mainWrapper {
        width: 100%;
    }
    .rightMenuWrapper {
        display: none;
    }
    .shipsList {
        padding: 0 8px 68px 8px;
    }
}
@media (min-width: 769px) {
    .listName {
        padding-top: 56px;
        padding-bottom: 40px;
    }
    .filter {
        display: none;
    }
    .mainWrapper {
        display: grid;
        grid-template-columns: 80% 20%;
    }
    .shipsList {
        padding: 0 72px 149px 72px;
    }
}